@font-face {
    font-family: 'Newsreader';
    src: url('../public/fonts/Newsreader_14pt-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Sacramento';
    src: url('../public/fonts/Sacramento-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url('../public/fonts/Poppins-Regular.ttf') format('truetype');
}

body {
    background-color: white;
    color:#333;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Newsreader', serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-smooth: always;
}

main {
    background-color: white;
    margin: 1em;
}

/*HEADER*/

#root {
    margin: 0;
    width: 100%;
}

header {
    background-image: url('../public/images/taustakuva.png');
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f7f4; 
    color: #333;
    width: 100%;
    padding: 0; 
    position: sticky;
    top: 0;
}

header h1 {
    margin: 0.3em 0; 
    padding: 0;
    font-weight: normal;
}

.logo {
    font-family: 'Sacramento', cursive;
    margin-left: 1.2em;
    font-size: 1.2em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 1.2em;
}

nav li {
    margin-right: 3em;
}

nav a {
    text-decoration: none;
    color:  #333;  
}



/* instructions */


.form-banner {
    font-family: 'Newsreader', serif;
    font-size: 2em;
    text-align: center;
    margin: 0;
}

.form-banner h2 {
    font-weight: normal;
    margin-top: 2em;
    margin-bottom: 1em;
    letter-spacing: 2px;
}

.instructions-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em;

}

.instructions-container img {
    width: 1.8em;
    height: 1.8em;
    margin: 0.5em;
}

.instruction {
    width: 6em;
    margin: 0 2em 0 2em;

    padding: 0.3em;
    text-align:center;
    align-self: auto;
    border-radius: 2%;

}


.instruction p {
    margin: 0.3em;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;

}


/*IMAGES*/

.order-form-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding:3em;
}

#featured {
    width: 430px;
    height: 530px;
    object-fit: cover;
    cursor: pointer;
    border: 1px solid black;
    
}

.thumbnail {
    object-fit: cover;
    max-width: 180px;
    max-height: 100px;
    cursor: pointer;
    opacity: 0.5;
    margin: 5px;
    border: 1px solid black;
}

.thumbnail:hover {
    opacity: 1;
}

.active {
    opacity: 1;
}

#slide-wrapper {
    max-width: 450px;
    display: flex;
    min-height: 100px;
    align-items: center;
}

#slider {
    width: 440px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

.arrow {
    max-width: 30px;
    max-height: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.arrow:hover {
    opacity: 0.5;
    width: 35px;
    height: 35px;
}

.order-form-container {
    display: flex;
    margin: 3em 0;
}

.order-form-container img {
    object-fit: cover;
    overflow: hidden;
}

.image-container {
    flex: 1; 
    padding: 20px;
    max-width: 400px;
}

/*FORM */

.form-container {
    flex: 2; 
    padding: 8px; }

label {
    display: block;
    margin-bottom: 0.2em;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;;
}




input,
select {
    margin-bottom: 0.5em;
    width: 90%;
    padding: 7px;
    font-size: 0.9em;
    font-family: 'Newsreader', serif;
}

.total h4 {
    margin: 1em 0 0 0;
    padding: 0.2em;
}

.total p {
    margin: 0;
    padding: 0.2em;
}

hr {
  margin:0;
  padding:0;
}


.button-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

button[type="submit"] {
    font-family: 'Poppins', sans-serif;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-size: 1.5em;
    margin: 0.8em;
    background-color: transparent; 
    border: none; 

    padding: 0;
    cursor: pointer; 
}



/* THANKYOU */

.thankyou-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center;
    margin-top: 4em;
    text-align: center;
    width: 80%;
  }
  
  .order-info-container,
  .payment-info-container {
    width: 100%; /* Adjust width as needed */
  }
  
  .order-info-container ul,
  .payment-info-container ul {
    list-style-type: none; /* Remove list item bullets */
    padding: 0; /* Remove default padding for lists */
  }
  
  .order-info-container {
    margin-bottom: 2em; /* Adjust spacing between containers if needed */
  }
  
  .payment-info-container {
    margin-top: 2em;
    margin-bottom: 10em;
    text-align: center;
  }
  


/*HOME PAGE */


.home-h1 {
    font-family: 'Newsreader-regular';
    font-size: 5em;
    line-height: 130%;
    letter-spacing: 0.05em;
  }

.home-h2 {
    font-size: 2.5em;
    line-height: 150%;
    font-family: 'Sacramento', cursive;
}


  .home-container {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
    margin: 0 5em;
    padding-bottom: 10em;
  }

  .home-text-container {
    max-width: 50%;
  }

  .lauralogo {
    width: 25em;
    margin: 2.5em;
  }

  /* CONTACT PAGE*/

  .contact-container {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    margin: 3em;
    
  }

  .contact-h1 {
    font-family: 'Newsreader-regular';
    font-size: 5.625em;
    color: #d499d5;

  }

  p {
    font-size: 1.2em;
  }

  .contact-img-container {
    margin-left: 10em;
    margin-top: 2em;
  }

  .phone {
    width: 25em;
    height: 100%;
  }

  /*FOOTER*/

footer {
    background-image: url('../public/images/taustakuva.png');
    font-family: 'Sacramento', cursive;
    font-size: 1.5em;
    color: #333;
    text-align: center;
    padding:0;
    margin-top: 5em;
    width: 100%;
    position: fixed; 
    bottom: 0;
}

footer p {
    padding: 0;
    margin: 0.5em;
}

/*LOGINPAGE*/


.page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image: url("../public/images/taustakuva.png");*/
}

.cover {
    background-color: white;
    width: 18em;
    height: 22em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(204, 204, 204);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5em;
    background-image: url("../public/images/taustakuva.png");
    border: 1px solid #c7c7c7;

}

input[type="text"],
input[type="password"] {
    border: none;
    background-color: rgb(240, 240, 239);
    height: 2em;
    width: 80%;
    border-radius: 0.25em;
    text-align: center;
    padding: 1em;
    border: 1px solid #c7c7c7;
}

input:focus {
    outline-color: rgb(180, 151, 212);
}

.login-btn {
    width: 40%;
    height: 3em;
    background-color: rgb(180, 151, 212);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
}

.login-btn:hover {
    transform: scale(1.05);
}
/* Dashboard */
.dashboard-container {
    max-width: 1000px;
    margin: 0 auto;
    overflow-x: auto; 
    margin-bottom: 10em;
}

.orders-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.orders-table th, .orders-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.orders-table th {
    background-color: #f2f2f2;
}
